/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
#ink {
	height: 99%;
}

#ink dialog.modal {
	display: revert;
}
#ink-image {
	display: flex;
	justify-content: center;
}
#ink .markdown-preview-view img:not([width]) {
	max-width: 50%;
}

#ink-contents div,
#ink-choices {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
	animation-delay: var(--delay, 0s);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#ink-choices .btn {
	padding: 0.2em 0.4em; /* 添加一些内边距 */
	display: inline-block; /* 使其可以设置宽度和高度 */
	border: 1px solid #ccc; /* 设置边框样式 */
	border-radius: 5px; /* 可选：添加圆角 */
	text-decoration: none;
	cursor: pointer;
}

#ink-choices .btn.disabled {
	color: gray;
	cursor: not-allowed;
	text-decoration: none;
	pointer-events: none; /* 阻止点击事件 */
}
